.button{
    padding: 7px;
    margin: 5% 87% 2% 5%;
}
.text{
    color: #6f6fd6;
    align-self: center;
    vertical-align: super;
    margin-left: 4px;
}

.button:hover, .text:hover{
    cursor: pointer;
    border-radius: 10px;
    background-color: aqua;
}